{% extends "master.html" %}

{% block scripts %}
{% endblock %}
{% block styles %}
<style type="text/css">
.bottom-buffer{
	margin-bottom:10px;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6"><a class="btn btn-lg btn-primary btn-block bottom-buffer" href="{% url 'algconstructors' %}">Сгенерировать эволюционный алгоритм</a></div>
  <div class="col-md-6"><a class="btn btn-lg btn-primary btn-block bottom-buffer" href="{% url 'talgs' %}">Просмотр алгоритмов</a></div>
</div>
<div class="row">
  <div class="col-md-6"><a class="btn btn-lg btn-primary btn-block bottom-buffer" href="">Создание шаблона алгоритма</a></div>
  <div class="col-md-6"><a class="btn btn-lg btn-primary btn-block bottom-buffer" href="">Создание алгоритма</a></div>
</div>
<div class="row">
  <div class="col-md-6"><a class="btn btn-lg btn-primary btn-block bottom-buffer" href="">Добавить реализацию алгоритма</a></div>
  <div class="col-md-6"><a class="btn btn-lg btn-primary btn-block bottom-buffer" href="">Добавить результаты запуска алгоритмов</a></div>
</div>
<div class="row">
  <div class="col-md-6"><a class="btn btn-lg btn-primary btn-block bottom-buffer" href="">Сравнение алгоритмов</a></div>
  <div class="col-md-6"></div>
</div>

{% endblock %}