{% extends "master.html" %}

{% block scripts %}
{% endblock %}
{% block styles %}
<style type="text/css">
.bottom-buffer{
	margin-bottom:10px;
}
</style>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6"><a class="btn btn-lg btn-primary btn-block bottom-buffer" href="{% url 'algconstructors' %}">Просмотр задач</a></div>
  <div class="col-md-6"><a class="btn btn-lg btn-primary btn-block bottom-buffer" href="">Создание шаблона задачи</a></div>
</div>
<div class="row">
  <div class="col-md-6"><a class="btn btn-lg btn-primary btn-block bottom-buffer" href="">Создание задачи</a></div>
</div>

{% endblock %}